# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build directories
build/
dist/

# MacOS files
.DS_Store

# VSCode settings
.vscode/

# Coverage directories
coverage/

# Logs
logs
*.log
logs.zip

# Temporary files
tmp/
temp/

# Specific ignores for frontend (if any)
/frontend/build
/frontend/node_modules/

# Specific ignores for backend (if any)
/backend/node_modules/