/* src/pages/QuienesSomos.css */

/* Estilo personalizado para el título de la sección */
.titulo-seccion {
    font-size: 2.5rem;
    color: white; /* Color acorde con el tema del casino */
    font-weight: bold;
  }
  
  /* Puedes agregar más estilos personalizados aquí */